@import url('//weloveiconfonts.com/api/?family=entypo');
@import url('//brick.a.ssl.fastly.net/Lato:400,400i,700,700i:f');
@import url('//brick.a.ssl.fastly.net/Aleo:400,400i,700,700i:f');
@import url('//brick.a.ssl.fastly.net/Source Code Pro:300,300i,400,400i:f');

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Aleo, Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace !default;

$headings-font-family: $font-family-serif;

$white-faded: rgba(white, 0.8);

$code-color: #333;
$code-bg: #eee;

// bower:scss
// endbower

// Highlight.js
@import "highlight.scss";

// Core variables and mixins
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/code";
// @import "code.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
// @import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/media";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
//@import "bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

@mixin transition-all() {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@mixin serif() {
  font-family: $font-family-serif;
}

@mixin sans-serif() {
  font-family: $font-family-sans-serif;
}

@mixin ligatures() {
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-variant-ligatures: common-ligatures discretionary-ligatures;
}
@mixin make-hardware-accel() {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.social-container {
  text-align: center;
}

.social {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0 10px 0 0;
  line-height: 64px;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 10px;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none !important;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  @include sans-serif();

  .navbar-brand {
    font-weight: 800;
  }
  .nav {
    li {
      a {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    background: transparent;
    border-bottom: 1px solid transparent;
    .navbar-brand {
      color: white;
      padding: 20px;
      &:hover {
        color: $white-faded;
      }
    }
    .nav {
      li {
        a {
          color: white;
          padding: 20px;
          &:hover,
          &:focus {
            color: $white-faded;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1170px) {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    @include make-hardware-accel();
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.is-fixed {
      position: fixed;
      top: -61px;
      background-color: $white-faded;
      border-bottom: 1px solid darken(white, 5%);
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      .navbar-brand {
        color: $gray-dark;
        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }
      .nav {
        li {
          a {
            color: $gray-dark;
            &:hover,
            &:focus {
              color: $brand-primary;
            }
          }
        }
      }
    }
    &.is-visible {
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

// Header

.intro-header {
  background-color: $gray;
  background: no-repeat center center;
  background-attachment: scroll;
  @include background-cover;
  margin-bottom: 50px;
  .site-heading,
  .post-heading,
  .page-heading {
    padding: 100px 0 50px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 150px 0;
    }
  }
  .site-heading,
  .page-heading {
    text-align: center;
    h1 {
      margin-top: 0;
      font-size: 50px;
      @include ligatures();
    }
    .subheading {
      font-size: 24px;
      line-height: 1.1;
      display: block;
      @include sans-serif();
      font-weight: 300;
      margin: 10px 0 0;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
      @include ligatures();
    }
    .subheading,
    .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      @include sans-serif();
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }
    .meta {
      @include serif();
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      a {
        color: white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}

footer {
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
}
