<article>
  <h1>What is this?</h1>
  <p>
    This is the personal web page of David Flemström.
  </p>

  <h2>Who?</h2>
  <p>
    I'm a developer situated in Stockholm, Sweden.  Currently, I work as a
    backend software engineer at <a href="//www.spotify.com">Spotify</a>, but
    I've previously worked in many roles with a wide variety of companies and
    technologies.
  </p>

  <h2>Read more about...</h2>
  <ul>
    <li><a href="/skills">What I do</a></li>
    <li><a href="/this">How hard it can be to make a web site</a></li>
  </ul>

  <h2>...or find me</h2>
  <p class="social-container">
    <a class="social entypo-mail" href="mailto:david.flemstrom@gmail.com"></a>
    <a class="social entypo-github" href="//github.com/dflemstr"></a>
    <a class="social entypo-facebook" href="//www.facebook.com/dflemstr"></a>
    <a class="social entypo-linkedin" href="//www.linkedin.com/profile/view?id=143565644"></a>
    <a class="social entypo-gplus" href="//plus.google.com/u/0/111033497153201951737"></a>
    <a class="social entypo-twitter" href="//twitter.com/dflemstr"></a>
    <a class="social entypo-vimeo" href="//vimeo.com/dflemstr"></a>
    <a class="social entypo-skype" href="skype:dflemstr?call"></a>
    <a class="social entypo-spotify" href="//open.spotify.com/user/dflemstr"></a>
  </p>
</article>
