<article>
  <p class="lead">
    How long did it take for this page to load?  Did you even notice it?  What
    actually happened when you clicked that link?
  </p>
  <p>
    Even though this is a super simple web site, I've tried to make it as
    advanced as possible, hopefully demonstrating some good engineering
    practices while we're at it.
  </p>
  <p>
    Of course, this is all super overkill for a site of this size; any
    reasonable person would have just hand-edited some HTML and put it on some
    shared hosting.  However, that won't do for large-scale deployments, which
    is what I deal with on a daily basis.
  </p>
  <p>
    Imagine for a second that this is a large-scale web site serving thousands
    of users concurrently.  That's what this web site was designed to be able to
    handle.
  </p>
  <p>
    Oh, and I've tried to keep the buzzword count high! <small>(No, don't take
    this page too seriously)</small>
  </p>

  <h1>A series of tubes <small>or whatever they call it these days</small></h1>
  <p>
    You're connected to a machine hosted by
    <a href="//www.digitalocean.com/">DigitalOcean</a> in Amsterdam, datacenter
    3.
  </p>
  <p>
    The server that served you this web page is part of a
    <a href="//coreos.com">CoreOS</a> cluster running
    <a href="//coreos.com/using-coreos/clustering/">Fleet</a>.  There's probably
    only one server in that cluster right now (Namely
    <code>core-0.dflemstr.name</code>), because I like money, but it could scale
    to any number of machines.
  </p>
  <p>
    This cluster is running an unit defining a
    <a href="//www.docker.com">Docker</a> container to run, based off of
    <a href="//registry.hub.docker.com/u/dflemstr/dflemstr.name/">this image</a>.
  </p>

  <h1>Commit to Deploy</h1>
  <p>
    Of course, the source code for the web site is hosted in a
    <a href="//git-scm.com/">Git</a> repository available
    <a href="//github.com/dflemstr/dflemstr.name">here</a>.
  </p>
  <p>
    On every commit, the web site is automatically built, tested and deployed
    using Docker Automated Builds.  Additionally, tests are run separately by
    <a href="//travis-ci.org">TravisCI</a>, and you can see the results
    <a href="//travis-ci.org/dflemstr/dflemstr.name">here</a>.
  </p>

  <h1>Modern web development</h1>
  <p>
    The source code for the web page is managed using
    <a href="//yeoman.io/">Yeoman</a>, build dependencies are fetched using
    <a href="//gruntjs.com/">Grunt</a> and the actual web site uses components
    managed by <a href="//bower.io/">Bower</a>.
  </p>
  <p>
    Of course, the website manages cache correctly, as well as minification and
    compilation of resources.
  </p>

  <h1>Responsive</h1>
  <p>
    The page is being fetched in parts using
    <a href="//angularjs.org">AngularJS</a>, and the view for this article is
    rather tiny.  That's the main secret behind why it loads so fast!
  </p>
  <p>
    Of course, this is also the case on most available platforms where you'll
    find a web browser.  The page scales to any screen size and resources are
    fetched in a way that optimizes bandwidth and delivers the correct
    resolutions for your device.
  </p>
</article>
